<div>
<h1>All Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Availability</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td>
          <% if book.borrowings.where(returned_at: nil).empty? %>
            <span style="color: green;">Available</span>
          <% else %>
            <span style="color: red;">Borrowed</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
